<select id="selectPerson" parameterType="int" resultType="city" useCache="true" timeout="5">
    SELECT * FROM CITY WHERE id = #{id}
</select>

<insert
id="insertAuthor"
parameterType="domain.blog.Author"
flushCache="true"
statementType="PREPARED"
keyProperty="id,cityName"
keyColumn=""
useGeneratedKeys="true"
timeout="20">
</insert>
