<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouzhx.repository.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.ouzhx.entity.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="active_validate_code" jdbcType="VARCHAR" property="activeValidateCode" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="forget_password" jdbcType="VARCHAR" property="forgetPassword" />
    <result column="residence" jdbcType="VARCHAR" property="residence" />
    <result column="current_residence" jdbcType="VARCHAR" property="currentResidence" />
    <result column="work_experience" jdbcType="VARCHAR" property="workExperience" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="job_wanted_status" jdbcType="INTEGER" property="jobWantedStatus" />
    <result column="talent_id" jdbcType="VARCHAR" property="talentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, nickname, age, sex, email, mobile, address, active_validate_code, 
    enabled, created_date, created_by, modified_date, modified_by, last_login_time, forget_password, 
    residence, current_residence, work_experience, birthday, salt, job_wanted_status, 
    talent_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ouzhx.entity.User">
    insert into user (id, username, password, 
      nickname, age, sex, 
      email, mobile, address, 
      active_validate_code, enabled, created_date, 
      created_by, modified_date, modified_by, 
      last_login_time, forget_password, residence, 
      current_residence, work_experience, birthday, 
      salt, job_wanted_status, talent_id
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{activeValidateCode,jdbcType=VARCHAR}, #{enabled,jdbcType=INTEGER}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=VARCHAR}, #{modifiedDate,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{forgetPassword,jdbcType=VARCHAR}, #{residence,jdbcType=VARCHAR}, 
      #{currentResidence,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{salt,jdbcType=VARCHAR}, #{jobWantedStatus,jdbcType=INTEGER}, #{talentId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ouzhx.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="activeValidateCode != null">
        active_validate_code,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="forgetPassword != null">
        forget_password,
      </if>
      <if test="residence != null">
        residence,
      </if>
      <if test="currentResidence != null">
        current_residence,
      </if>
      <if test="workExperience != null">
        work_experience,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="jobWantedStatus != null">
        job_wanted_status,
      </if>
      <if test="talentId != null">
        talent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="activeValidateCode != null">
        #{activeValidateCode,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="forgetPassword != null">
        #{forgetPassword,jdbcType=VARCHAR},
      </if>
      <if test="residence != null">
        #{residence,jdbcType=VARCHAR},
      </if>
      <if test="currentResidence != null">
        #{currentResidence,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null">
        #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="jobWantedStatus != null">
        #{jobWantedStatus,jdbcType=INTEGER},
      </if>
      <if test="talentId != null">
        #{talentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouzhx.entity.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="activeValidateCode != null">
        active_validate_code = #{activeValidateCode,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="forgetPassword != null">
        forget_password = #{forgetPassword,jdbcType=VARCHAR},
      </if>
      <if test="residence != null">
        residence = #{residence,jdbcType=VARCHAR},
      </if>
      <if test="currentResidence != null">
        current_residence = #{currentResidence,jdbcType=VARCHAR},
      </if>
      <if test="workExperience != null">
        work_experience = #{workExperience,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="jobWantedStatus != null">
        job_wanted_status = #{jobWantedStatus,jdbcType=INTEGER},
      </if>
      <if test="talentId != null">
        talent_id = #{talentId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouzhx.entity.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      active_validate_code = #{activeValidateCode,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=INTEGER},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      forget_password = #{forgetPassword,jdbcType=VARCHAR},
      residence = #{residence,jdbcType=VARCHAR},
      current_residence = #{currentResidence,jdbcType=VARCHAR},
      work_experience = #{workExperience,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      salt = #{salt,jdbcType=VARCHAR},
      job_wanted_status = #{jobWantedStatus,jdbcType=INTEGER},
      talent_id = #{talentId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>